<html>
    <head>
        <title> search for active students by name </title>
        {% load static %}
         <link rel="stylesheet" type="text/css" href="{%static 'css/Default.css'%}">
         <link rel="icon" type="image/x-icon" href="photos/icon.PNG">
         <p>
            <a href="all"><input type="button" value="View all students" name="view_active" class="button"></a> 
            <a href="inactive" target="_blank"><input type="button" value="View inactive students" 
               name="view_inactive" class="button"></a>
            <a href="active" target="_blank"><input type="button" value="View active students" 
               name="view_active" class="button"></a>
            <a href="search"><input type="button" value="Search for student by name" name="search" class="button"></a>
            <a href="add"><input type="button" value="Add new student" name="add" class="button"></a>  
            <a href=""><input type="button" value="Homepage" name="home" class="button"></a>
         </p> 
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </head>
    <body >
       <form  >

          {% csrf_token %}
          <p style="margin-left: 14cm;">
         <b> Enter the name of the student </b><br/>
         <input type="text" size="55" name="name">
         <a href="results"><input type="submit" value="search" name="search" 

            class="button2" onclick="move()"></a> 
           
         </p>
       </form>
       <input type="button" value="show results" name="show"  class="button2" style="margin-left: 14cm;"s onclick="move()"></a>
        
    
    <script src="{%static 'js/script.js'%}"></script>
    </body>
</html>