<!DOCTYPE html>
<html>
    <head>
        <title>view in active students</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{%static 'css/Default.css'%}">
        <link rel="icon" type="image/x-icon" href="photos/icon.PNG">
        <p>
            <a href="all"><input type="button" value="View all students" name="view_active" class="button"></a> 
            <a href="inactive" target="_blank"><input type="button" value="View inactive students" 
               name="view_inactive" class="button"></a>
            <a href="active" target="_blank"><input type="button" value="View active students" 
               name="view_active" class="button"></a>
            <a href="search"><input type="button" value="Search for student by name" name="search" class="button"></a>
            <a href="add"><input type="button" value="Add new student" name="add" class="button"></a>  
            <a href=""><input type="button" value="Homepage" name="home" class="button"></a>
         </p> 
    </head>
    <body>
        <center>
            <br/><br/><br/>
            <caption><b>inactive students</b></caption> 
            {% block content %} 
            <table border="3" width="800" height="40">
            <TR> 
                <TH> Student Name </TH> 
                <TH> ID </TH> 
                <TH> Level </TH> 
                <TH> Department </TH>
                <TH> GPA </TH> 
                <TH>Status </TH>
                <TH> Gender </TH> 
                <TH> Email </TH>  
                <TH> Date Of Birth </TH>    
                <TH> Mobile Number </TH> 
            </TR>
            {% for s in students %}
            {%if s.status == "inactive"%}
        <TR> 
            <TH> {{s.name}} </TH> 
            <TH> {{s.id}} </TH> 
            <TH> {{s.level}} </TH>    
            <TH> {{s.department}}</TH>  
            <TH> {{s.GPA}} </TH> 
            <TH> {{s.status}} </TH> 
            <TH> {{s.gender}} </TH> 
            <TH> {{s.Email}}</TH> 
            <TH> {{s.Date_of_birth}}</TH> 
            <TH>{{s.phoneNumber}} </TH> 
        </TR>
           {% endif %}
           {% endfor %}
        
        </table>
        {% endblock content %}
    </center>   

    </body>





</html>





